.detail-card {
  max-width: 960px;
  margin: auto;

  &__picture {
    margin-right: 24px;
  }

  &__title {
    margin-top: 0;
  }
}

.portfolio-item {
  display: flex;

  &__picture {
    width: 200px;
  }

  &__content {
    padding-left: 24px;
  }
}